---
import Comp from "@/components/Comp.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <Comp client:load />
  </main>
</Layout>
