---
import { Code } from "astro/components";
import { Converter } from "showdown";

import Layout from "@/layouts/Layout.astro";
import { agent } from "@/utils/agent";

const { name } = Astro.params;
const url = `${Astro.url.origin}/api/projects/${name}`;

let projectDetails = null;
try {
  projectDetails = await agent.get(url).json();
} catch {
  return Astro.redirect("/404");
}
---

<Layout title={(name as string) || ""}>
  {
    projectDetails && (
      <main>
        <Code code={JSON.stringify(projectDetails, null, 2)} lang="json" />
      </main>
    )
  }
</Layout>
