---
import Details from "@/components/projects/Details.svelte";
import Sidebar from "@/components/projects/Sidebar.svelte";
import Layout from "@/layouts/Layout.astro";
import { agent } from "@/utils/agent";
import type { ProjectDetails } from "@/utils/types";

const { name } = Astro.params;
const url = `${Astro.url.origin}/api/projects/${name}`;

let projectDetails: ProjectDetails | null = null;
try {
  projectDetails = await agent.get(url).json();
  console.log(projectDetails);
} catch {
  return Astro.redirect("/404");
}
---

<Layout title={(name as string) || ""}>
  {
    projectDetails && (
      <div class="flex flex-col-reverse lg:flex-row items-start">
        <Details client:load projectDetails={projectDetails} />
        <Sidebar projectDetails={projectDetails} />
      </div>
    )
  }
</Layout>

<style>
  .details {
    svg {
      @apply !w-2 !h-2;
    }
  }
</style>
