---
import Header from "@/components/common/Header.svelte";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&family=Sora:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style lang="postcss" is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        * {
          @apply duration-100;
        }

        main {
          @apply text-gray-900 dark:text-slate-300 font-sora font-light text-base w-[100vw] min-h-screen
                flex justify-center overflow-x-hidden tracking-wide;
        }

        h1 {
          @apply text-4xl font-sans font-extralight dark:text-white;
        }

        h2 {
          @apply text-3xl font-sans font-extralight dark:text-white;
        }

        h3 {
          @apply text-xl font-bold font-sora text-zinc-600 dark:text-slate-100;
        }

        h4 {
          @apply mt-5 mb-0.5 font-sora text-lg font-medium;
        }

        ul {
          @apply pl-1;
        }

        li {
          @apply first:pt-1;
        }
      }

      @layer components {
        .highlight {
          @apply relative flex items-center w-max text-sm rounded overflow-hidden px-2 py-1;

          background-image: linear-gradient(
            to right,
            theme("colors.red.300"),
            theme("colors.blue.500") 50%,
            transparent 50%
          );
          background-size: 220% 100%;
          background-position: 100%;
          transition: all 0.3s ease-in-out;

          &:hover {
            @apply dark:text-black;
            background-position: 0;
          }

          svg {
            @apply !h-6 !w-6 first:mr-3;
          }
        }

        .details {
          h1 {
            @apply mb-12;
          }

          h2 {
            @apply mb-2;
          }

          h3 {
            @apply mt-6;
          }

          ul {
            @apply pl-6 list-disc;

            & ul {
              @apply list-square;
            }

            p {
              @apply !p-0;
            }
          }

          p {
            @apply py-2;
          }

          a {
            @apply duration-200 text-yellow-600 hover:text-yellow-500 dark:text-yellow-100 hover:dark:text-yellow-300;
          }

          img {
            @apply py-2 overflow-hidden;
          }

          code {
            @apply px-2 py-1 bg-gray-100 dark:bg-gray-900 text-xs rounded overflow-hidden;
          }
        }
      }
    </style>
  </head>
  <body>
    <main class="bg-white dark:bg-zinc-800">
      <div class="max-w-sm md:max-w-lg lg:max-w-4xl xl:max-w-7xl py-12">
        <Header client:only />
        <slot />
      </div>
    </main>
  </body>
</html>
